### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/runs/
/outputs/ONNX/
/predict/result_img/
/predict/test_img/
/data_set/
/train/runs/
/train/save_weights/
/test/
/plot_img/
/train/class_indices.json
/outputs/class_indices.json
/predict/class_indices.json
/train/bk/
/preprocess/image_counts.csv
/outputs/model_evaluation_results.csv
