### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/runs/
/predict/ONNX/
/predict/result_img/
/predict/test_img/
/data_set/
/train/runs/
/train/save_weight/
/test/
